#header {
    background-color: #F9F9F9;
}

.header {
    width: 85%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

.header .header_left {
    width: 30%;
}

.header .header_left p {
    color: #797979;
    font-size: 15px;
}

.header .header_right {
    display: flex;
    justify-content: flex-end;
}

.header .header_right .log_in {
    margin-right: 20px;
    border-right: 1px solid #cacaca;
    padding-right: 20px;
    height: 30px;

}

.header .header_right .log_in a {
    text-decoration: none;
}

.header .header_right .log_in span {
    color: #797979;
    font-weight: 500;
    font-size: 14px;
    margin-left: 20px;
}

.header .header_right .log_in span:hover {
    color: #DE3241;
    transition: 0.5s;
}

.header .header_right .contact_media {
    display: flex;
    margin-right: 20px;
    border-right: 1px solid #cacaca;
    height: 30px;

}

.header .header_right .contact_media svg {
    margin-right: 20px;
    font-size: 20px;
    color: #000000;
}

.header .header_right .contact_media svg:hover {
    color: #DE3241;
    transition: 0.5s;
}

.header .header_right .contact_phone p {
    color: #535353;
    font-size: 14px;
}

.header .header_right .contact_phone p svg {
    color: #686767;
    font-size: 20px;
    margin-right: 7px;
}

.header .header_right .contact_phone span {
    color: #DE3241;
    font-size: 16px;
    font-weight: 700;
    margin-left: 2px;
}

.header .login {
    width: 600px;
    height: 400px;
    background-color: #797979;
    position: absolute;
    top: 30%;
    display: none;
}